<ion-view title="Attendees" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="attendees-heading2" style="color:#000000;">Registered to rock!</h3>
    <ion-list id="attendees-list1">

      <div class="row">
        <ion-item class="col item-icon-right" id="attendees-list-item1">Name
          <i class="icon ion-ios-person-outline"></i>
        </ion-item>
        <ion-item class="col item-icon-right" id="attendees-list-item2">Diet
          <i class="icon ion-ios-pint-outline"></i>
        </ion-item>
        <ion-item class="col item-icon-right" id="attendees-list-item3">Sauna
          <i class="icon ion-ios-rainy-outline"></i>
        </ion-item>
      </div>

      <div class="row" ng-repeat="x in persons">
        <ion-item class="col item-icon-right">{{ x.firstName }} {{ x.lastName }}
        </ion-item>
        <ion-item class="col item-icon-right">{{ x.diet | capitalize }}
        </ion-item>
        <ion-item class="col item-icon-right">{{ x.sauna | bool2words }}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
